@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("/html-portfolio/assets/background_portfolio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

p {
  color: rgba(85, 85, 85, 0.85);
}

a {
  color: inherit;
}

button,
input,
textarea,
select {
  font: inherit;
}
